extends layout

block content
  section.section
    .page-header
      h2= item.getTitre()
    if item.getItemType() == 1
      img(src=url.item(item.getId(), 270, 270), width='270', height='270')
    else
      img(src=url.item(item.getId(), 270, 400), width='270', height='400')
    .details
      .price
        | #{format.price(item.getPrix()) + '$ '}
        if item.getStock() > item.getStockLimit()
          a(href=url.action('cart/add') + '?id=' + item.getId()) Add to cart
        else
          | Out of stock
