!!! 5
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
  title= pagetitle
  meta(name='description', content='')
  meta(name='viewport', content='width=device-width')
  block stylesheets
    link(rel='stylesheet', href=url.resource('css/normalize.min.css'))
    link(rel='stylesheet', href=url.resource('css/font-awesome.min.css'))
    link(rel='stylesheet', href=url.resource('css/main.css'))
  block headscripts
    script(src=url.resource('js/vendor/modernizr-2.6.2.min.js'))
    script(src=url.resource('js/vendor/holder.js'))

body
  .topmenu
    .menu
      ul
        if user
          li.right
            a(href='#')
              span.icon-signout
              |  Log Out
          li.right
            a(href='#')
              span.icon-user
              | #{' ' + user.getPrenom() + ' ' + user.getNom()}
        else
          li.right
            a(href=url.action('login'))
              span.icon-signin
              |  Log In
          li.right
            a(href=url.action('register'))
              span.icon-asterisk
              |  Register
  .main
    header.header
      .logo
        h1
          a(href=url.action('index'))
            img(src=url.resource('img/logo.png'), alt=title)
      .search
        form(action=url.action('store/search'), method='get')
          input(type='text', name='q', placeholder='Search', value=query)
          button(type='submit')
            span.icon-search
    nav.menu
      ul
        li
          a(href=url.action('store/category') + '?cat=1')
            span.icon-book
            |  Books
        li
          a(href=url.action('store/category') + '?cat=2')
            span.icon-film
            |  Movies
        li
          a(href=url.action('store/category') + '?cat=3')
            span.icon-headphones
            |  Music
        li.right
          a(href=url.action('cart/index'))
            span.icon-shopping-cart
            |  Cart (#{session.cart.size()})
    block precontent
    .content
      block content
    footer.footer
      p Copyright &copy; 2013 Covemifasol.

  block bodyscripts
    script(src=url.resource('js/vendor/jquery-1.9.1.min.js'))
    script(src=url.resource('js/vendor/unslider.min.js'))
    script(src=url.resource('js/vendor/jquery.placeholder.min.js'))
    script(src=url.resource('js/main.js'))
