.tile
  .thumbnail
    a(href=url.action('store/item') + '?id=' + item.getId())
      if item.getItemType() == 1
        img(src='holder.js/135x135', width='135', height='135')
      else
        img(src='holder.js/135x200', width='135', height='200')
  .details
    .title
      a(href=url.action('store/item') + '?id=' + item.getId(), title=item.getTitre())= format.maxLen(item.getTitre(), 12);
    .price
      | #{format.price(item.getPrix()) + '$ '}
      a(href=url.action('cart/add') + '?id=' + item.getId()) Add to cart
