.tile
  .thumbnail
    a(href=url.action('store/item') + '?id=' + item.getId())
      if item.getItemType() == 1
        img(src=url.item(item.getId(), 135, 135), width='135', height='135')
      else
        img(src=url.item(item.getId(), 135, 200), width='135', height='200')
  .details
    .title
      a(href=url.action('store/item') + '?id=' + item.getId(), title=item.getTitre())= format.maxLen(item.getTitre(), 15);
    .price
      | #{format.price(item.getPrix()) + '$ '}
      if item.getStock() > item.getStockLimit()
        a(href=url.action('cart/add') + '?id=' + item.getId()) Add to cart
      else
        | Out of stock
